<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body class="grey-bg">
    <%- include('nav.ejs', {isLogin: 로그인상태}) %>

    <div class="detail-bg">
        <h4><%= 로그인상태.name %></h4>
        <hr>
        <p><%= 로그인상태.username %></p>
</body>
</html>