<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body class="grey-bg">
    <%- include ('nav.ejs') %>

    <div class="detail-bg">
        <h4><%= 유저정보.name %></h4>
        <hr>
        <p><%= 유저정보.username %></p>
</body>
</html>