<div class="nav">
    <a class="logo" href="/">forum</a>
    <a>Page1</a>
    <a>Page2</a>
    <a href="/auth"><button type="button" class="btn btn-outline-success" style="display:inline-block; margin: 7px 10px;">회원가입</button></a>
</div> 